{% extends 'base.html' %}


{% block bodyblock %}

    <div class="container">
        <br>
        <h3 class="content">Welcome to <span style = "color:#198b90"> Gender Detection App</span></h3>
        <br>
        <p class="content">
            I created this application as a self project. This App consist of programming laguage as Python3, Web framework as Django and Flask, Frontend as HTML and CSS and last but not the least machine learning for the detection.  
        </p>
    </div>

{% endblock %}